<div class="clientShowHeader">
  <p class="clientBgText">{{model.name}}</p>

  {{logout-link model=model}}
</div>

<div class="btn-client vert-offset-top-1 vert-offset-bottom-2">
  <button {{action "showUsers"}} class={{if usersVisible "active" ""}}>Users</button>
  <button {{action "showApp"}} class={{if appVisible "active" "" }}>App</button>
</div>

{{#if usersVisible}}
  {{client/user-index model=model clientUrl=clientUrl}}
{{else}}
  {{client/client-app model=model clientUrl=clientUrl}}
{{/if}}
