<p class="clientBgText">{{model.name}}</p>
<div class="nav-links">
  {{link-to 'Users' '#'}}
  {{link-to 'App' '#'}}
</div>

{{#if (gt users.length 2)}}

{{else}}
  {{client/invite-users model=model}}
{{/if}}
