<h4 class="centered">{{t "clientAccess.dashboard.invite.header"}}</h4>

<button class="history-btn large-btn" {{action "onInvite"}}>
  {{t "clientAccess.dashboard.invite.btnValue"}}
</button>

<div class="inviteBox centered">
  {{t "clientAccess.dashboard.invite.linkText"}}<br>
  {{clientUrl}}
</div>
