{{#if (gt userCount 1)}}
  <div class="userListData">
    <b>{{pluralize userCount "user"}}</b>
    <button class="history-btn small-btn" {{action "onInvite"}}>
      {{t "clientAccess.dashboard.userIndex.btnValue"}}
    </button>
  </div>

  {{#each users as |user|}}
    <hr>
    {{client/user-show user=user}}
  {{/each}}

  <div class="paginationNavs">
    <a href="#" {{action 'onPrev'}}>‹</a>
    <a href="#" {{action 'onNext'}}>›</a>
  </div>

{{else}}
  {{client/invite-users model=model}}
{{/if}}
