{{#form-for for=model onSubmit="save"}}
  {{#form-field for="name" label="Name"}}
    {{input type="text" value=model.name placeholder="Enter Client Name"}}
  {{/form-field}}

  {{#form-field for="appName" label="Application Name"}}
    {{input class='clientAppName' type="text" value=model.appName placeholder="Enter Client Application Name" focus-out=(action 'onAppNameChanged')}}
  {{/form-field}}

  {{#form-field for="slugName" label="Subdomain"}}
    {{input type="text" value=slugName placeholder="Enter Subdomain"}}
  {{/form-field}}

  {{#form-field for="themeColor" label="Theme Color"}}
    {{input type="text" value=model.themeColor placeholder="Enter Theme Color"}}
  {{/form-field}}

  {{#form-field for="backgroundColor" label="Background Color"}}
    {{input type="text" value=model.backgroundColor placeholder="Enter Background Color"}}
  {{/form-field}}

  {{input type="submit" class="btn btn-default left" value="Update"}}

  {{#if errorMessage}}
    <div class="alert alert-danger">
      <p><strong>Update failed:</strong> <code>{{errorMessage}}</code></p>
    </div>
  {{/if}}
{{/form-for}}
