<div class="adminHeader flexContainer alignBaseline">
  <h3>Caredown Admin</h3>
  {{logout-link}}
</div>

<div class="client-dashboard">
  <div>{{pluralize model.meta.client_count 'client'}}:</div>

  <div class="clientIndexHeader flexContainer">
    <span>APP NAME / URL</span>
    <span>USERS</span>
  </div>

  {{#each model as |client|}}
    <hr>
    {{client/client-item client=client}}
  {{/each}}

  <div class="paginationNavs flexContainer">
    <a href="#" {{action 'onPrev'}}>‹</a>
    <a href="#" {{action 'onNext'}}>›</a>
  </div>
</div>
